
p {
    font-style: italic;
    margin-top: -16px;
    text-align: justify;
   }

h2 {
    font-size: 17px;
    color: #227093;    
    }

body{
    background-color: #ffda79;
}

#trash {
    width: 18px;
    height: 18px;
    margin: 0px 10px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffda79;
    width: 50em;
}

#msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #ffda79;
    padding: 0px 23px;
}

#counter {
    background-color: white;
    border-bottom: 1px solid #ffda79;
    padding: 13px 23px;
    text-transform: uppercase;
    letter-spacing: 0.7em;
    font-size: 10px;
}

#txt {
    padding: 0px 15px;
}

#profil {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    box-shadow: -2px 3px rgba(30, 112, 147,0.2);
    border: 1px solid rgba(30, 112, 147,0.2);
}